{% extends 'base.html' %}

{% block content %}
<h1 class="title is-4">Criar Usuário</h1>
<div class="card">
    <div class="card-content">
        <form method="POST">
            <!-- Campo para Nome do Usuário -->
            <div class="field">
                <label class="label">Nome</label>
                <div class="control has-icons-left">
                    <input class="input" type="text" name="nome" placeholder="Nome Completo" required>
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                </div>
            </div>

            <!-- Campo para E-mail -->
            <div class="field">
                <label class="label">E-mail</label>
                <div class="control has-icons-left">
                    <input class="input" type="email" name="email" placeholder="E-mail" required>
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                </div>
            </div>

            <!-- Campo para Senha -->
            <div class="field">
                <label class="label">Senha</label>
                <div class="control has-icons-left">
                    <input class="input" type="password" name="senha" placeholder="Senha" required>
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                </div>
            </div>

            <!-- Campo para Seleção de Perfil -->
            <div class="field">
                <label class="label">Perfil</label>
                <div class="control has-icons-left">
                    <div class="select is-fullwidth">
                        <select name="perfil" required>
                            <option value="admin">Admin</option>
                            <option value="tecnico">Técnico</option>
                            <option value="analista">Analista</option>
                            <option value="cliente">Cliente</option>
                        </select>
                    </div>
                    <span class="icon is-small is-left">
                        <i class="fas fa-user-tag"></i>
                    </span>
                </div>
            </div>

            <!-- Botões de Ação -->
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link" type="submit">Criar</button>
                </div>
                <div class="control">
                    <a href="{{ url_for('dashboard.dashboard') }}" class="button is-light">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
